.grid{
padding:0;
margin:0;
height:480px;
width:400px;
display:grid;
margin:50px auto;
background-color:rgb(30,30,30);
grid-template-rows:repeat(6,1fr);
grid-template-columns:repeat(4,1fr);
grid-gap:10px;
}
.calculator{
    border-radius:15px;
    text-align:right;
    line-height:70px;
letter-spacing:10px;
    color:white;
    font-size:30px;
    grid-column:span 4;
    background-color:black;
}
.one{
    border-radius:50%;
    text-align:center;
    line-height:70px;
    color:white;
    background-color:black;
}
.one1{
    border-radius:15px;
    text-align:center;
    line-height:70px;
    color:white;
    grid-column:span 2;
    background-color:black;
}
.two{
   border-radius:50%;
    text-align:center;
    line-height:70px;
    color:white;
    background-color:orange;

}
.two2{
 border-radius:15px;
    text-align:center;
    line-height:70px;
    color:white;
     grid-column:span 2;
    background-color:orange;
}
.grid div:hover{
opacity:0.5;
}