 /* div{
    height:200px;
    /* height:150px; */
    /* height:500px; */
    /* width:500px; */
    /* width:500px;
    background-color:pink; */
    /* border-width:2px;
    border-style:solid;
    border-color:green; 
    border:5px solid black;*/
    /* border-left:2px solid green;
    border-right:2px dashed green;
    border-top:2px solid blue;
    border-bottom:2px solid yellow; */
    /* border-radius:100px; */
    /* border-radius:50%; */
    /* border-bottom-left-radius:50%; */
  /*  border-radius:10px;
    padding-left:10px;
    margin-left:100px;
}
h1{
    border:2px dashed green;
}
button{
    background-color: coral;
    border:2px solid black;
    border-radius:4px;
    /* padding-left:5px;
    padding-right:5px; */
    /* padding:25px; */
    /* padding:10px 25px; */
    /* padding:10px 20px 30px; */
    /* padding:10px 20px 30px 40px; 
    padding:10px 20px 30px 0;
    margin-left:40px;
}
/*span{
  height:200px;
  width:200px;
  padding:50px;
  margin:50px;
  background-color: blue;
}
p{
    height:200px;
    width:200px;
    padding:50px;
    margin:50px;
    background-color:blanchedalmond;
}*/
/* div{
    display:inline;
    margin:0;
}
h1{
    display:inline;
    margin:0;
}
button{
    display:block;
} */

/* div{
   height:200px;
   width:200px;
   padding:50px;
   margin:50px;
   background-color: lightgreen;
   display:inline-block;
}
#third{
    display:none;
} */
 /* h1{
    background-color:brown;
    width:50%;
 }
 #outer{
    height:400px;
    width:400px;
    background-color: bisque; */
    /* margin-left:50px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:40px;
    padding-left:40px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:70px; */
    /* font-size:20px;
 }
 #inner{ */
    /* height:200px;
    width:200px; */
    /* background-color:burlywood;
    /* margin:50%;
    padding:50%;
    font-size:3em;
    margin:1em;
    padding:1em;
    height:4em;
    width:4em;
 }
 button{
    /* font-size:100px; 
    font-size:50px;
    border-radius:25px;
    border:5px solid green;
    /* padding-left:20px;
    padding-right:20px;
    padding-left:1em;
    padding-right:1em;
 }
 section{
    font-size:15px;
 }
 div{
    /* font-size:0.5em;
    font-size:2rem;
 }*/
 
 