
#main img{
  height:500px;
  width:500px;
}
#main{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
#main div{
    border:2px solid black;
    border-radius:5px;
    box-shadow:8px 8px 16px black;
    margin:10px;
}
#main div:hover{
    box-shadow:16px 16px 32px black;
}